.main_cadastro form{
	margin: 1em;
	font-family: var(--fonte_secundaria);
	color: var(--cinza3);
}
.main_cadastro{
	text-align: center;
	flex-grow: 1;
	margin: 0 auto;
}
.main_cadastro h1, p{
	font-family: var(--fonte_secundaria);
	color: var(--azul);
	margin: 0.7em auto;
	line-height: 1.3125em;
	width: 100%;
}
.input_cadastro{
	background-color: var(--branco);
	display: flex;
	margin: 0.3em auto 1.25em;
	text-align: center;
	border-radius: 6px;
	border-color: var(--branco);
	mix-blend-mode: normal;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

	height: 40px;
	width: 312px;

	font-family: var(--fonte_secundaria);
	color: var(--cinza2);
	font-size: 12px;
}